@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), url(./../../public/fonts/LasAmericas_PERSONAL_USE_ONLY.otf) format('otf');
} */

